.forblogs{
    
    align-items: center;
    justify-content: center;
    padding-top: 10em;
    background:#FAFAFE; 
    
}

.forblogs .blog-background{
    background-color: white;
}



.forblogs .blogs-row{
    margin-bottom: 1em;
}
.forblogs .card-txt{
    margin-bottom: 5em;
}

.forblogs .blog-title{
    font-weight: 700;
font-size: 32px;
color: #242C37 !important;

}

.forblogs .blog-search{
    margin-bottom: 4em;
}
.forblogs .blog-txt{
    font-weight: 500;
font-size: 24px;
letter-spacing: -0.01em;
margin-bottom: 5.5em;
}
.forblogs .blog-txt1{
    font-weight: 500;
font-size: 14px;
letter-spacing: -0.01em;
color: #242C37;
}
.forblogs .blog-txt2{
    font-weight: 400;
    font-size: 14px;
    color: #535E70;
}

.forblogs .Blogs-proposal{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: white;
}

.forblogs .input-field{
    width: 13em;
    background: #F5F6F9;
border-radius: 4px;
    margin-bottom: 1em;
    width: 100%;
height: 48px;
}

.forblogs .btn{
   
    
    width:100%;
height: 56px;
}
.forblogs .proposal-txt{
    font-weight: 700;
font-size: 32px;
color: #242C37;
margin-bottom: 2em;
}
.forblogs .proposal-txt span{
 color: #0F79DC;
}

.forblogs .search-field{
    width: 100%;
}
.forblogs .top-image{
    
    width: 100%;
}
.forblogs .bottom-image{
    width: 100%;
}
.forblogs .col-margin{
    margin-right: em;
}