.list {
  background: #fafafe;
  padding-top: 5em;
}
.list .title {
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(36, 44, 55, 1);
}
.list .sub-title {
  font-size: 1em;
  font-weight: 400;
  color: rgba(83, 94, 112, 1);
}
.list .txt {
  font-size: 1em;
  font-weight: 500;
  color: rgba(36, 44, 55, 1);
  
}
.list .list-line {
  background-color: rgba(180, 193, 214, 1);
  height: 0.1em;

  margin: 2em 0 2em 0;
}
.list .img-box {
  width: fit-content;
  height: fit-content;
}
.list img {
  position: relative;
  width: 70%;
 
  
}
