*{
    box-sizing: border-box;
    
}

.postcard{
    padding-top: 3em;
    text-align: center;
}

.postcard .sub-title{
    font-size: 1.5em;
}
.postcard .title{
    font-size: 2em;
}
.postcard img{
    width: 30%;
    height: 30%;
    position:relative;

}
.postcard .txt{
    padding-top: 0px;

}