*{
    box-sizing: border-box;
    
}

.postcard{
    padding-top: 3em;
    text-align: center;
    background:#FAFAFE; 
}

.postcard .sub-title{
    font-size: 1.5em;
}
.postcard .title{
    font-size: 2em;
}

.postcard img{
    width: 30%;
    height: 100%;
    position:relative;

}
.postcard .post-txt{
    margin-bottom: 1em;
}
.postcard .txt{

    font-size: 1.2em;
    font-weight: 400;


}
.postcard .btn{
    background: #0F79DC;
    border-radius: 128px;
    width:19.5em;
    height: 4em;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 1em
}
