
.logo{
    width: 6em;
    height: 1em;
    left: 4em;
    
}
.Navbar{
    position: fixed;
    z-index:2;
}

.img-brand{
    margin-top: 0px;
    padding: 0px;
    margin-right: 17em;
    margin-left: 3.5em;
}
.nav-link{
    margin-top: 1.5em;
    line-height: 2em;
    margin-right: 1em;
}
.btn{
    border-radius: 5em;
    width: 6em; ;
   
}