.blog-article{
    padding-top: 10em;
    
    align-items: center;
    justify-content: center;
    
    background:#FAFAFE; 
}

.blog-article .Article-title{
    font-weight: 500;
font-size: 24px;
width: fit-content;
margin-bottom: 2em;
}

.blog-article .article-image img{
    /* width: 49em;
    height: 29em; */
    width: 100%;
}

.blog-article .userimage{
    width: 58px;
    height: 58px;
}
.blog-article .user-title{
    font-weight: 500;
font-size: 16px;
}
.blog-article .user-txt{
    font-weight: 400;
font-size: 14px;
color: #55778A;
}

.blog-article .vector{
    padding-left: 4em;    
}

.blog-article .blogs-row{
    margin-bottom: 2em;
}
.blog-article .article-heading{
    font-weight: 700;
    font-size: 22px;
}
.blog-article .article-body{
    font-weight: 400;
font-size: 16px;
}
.blog-article .Blogs-proposal-1{
    background: linear-gradient(92.85deg, #0F79DC 0%, #AD4FD9 100%);
    box-shadow: 0px -32px 48px rgba(0, 0, 0, 0.03);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0 !important;
    margin-left: 0 !important;

}


.blog-article .proposal-txt{
    color: #F5F6F9;
    font-weight: 700;
font-size: 24px;
}
.blog-article .Blogs-proposal-1 .btn{

    background: #FFFFFF;
border-radius: 128px;
width: 280px;
height: 64px;
font-weight: 700;
font-size: 22px;
text-align: center;
color: #0F79DC;
}
